[2020-05-27 08:57] amihaiemil opened #1 "SpringBoot skeleton"
Springboot maven skeleton, let's add it.

[2020-05-27 08:58] amihaiemil opened #2 "Rultor, Travis etc"
Lets add all the guys

[2020-05-27 08:59] amihaiemil opened #3 "Accept Invitations"
Each PM should automatically accept Repo invitations.
Every 5 or 10 minutes they should check Github/GitLab etc and accept the invitations they got to access certain repos.

[2020-06-07 14:15] amihaiemil commented on #2
fixed

[2020-06-07 14:15] #2 closed

[2020-06-07 14:15] amihaiemil commented on #1
fixed

[2020-06-07 14:15] #1 closed

[2020-06-07 14:15] amihaiemil opened #4 "Add checkstyle, jacoco etc"
let's add them

[2020-06-07 14:37] amihaiemil opened #6 "Add self-core dependency"
Add self-core dependencies

[2020-06-07 14:39] #4 closed

[2020-06-08 06:11] #6 closed

[2020-06-23 07:26] amihaiemil opened #8 "Set up Integration Tests profile"
SpringBoot IT cases should be run by maven-failsafe-plugin when we specify the ``-Pitcases`` profile.

[2020-06-23 13:48] #8 closed

[2020-06-23 13:59] amihaiemil commented on #3
we also need some unit tests

[2020-06-24 09:27] amihaiemil commented on #3
@rultor release it, tag is `0.0.1`

[2020-06-24 09:28] #3 closed

[2020-06-24 09:28] amihaiemil opened #11 "Add release config"
Lets add the release scripts

[2020-06-24 09:29] amihaiemil opened #12 "Project webhook endpoint"
self-pm needs to have an HTTP endpoint which will act as a webhook for the managed projects (handle new events from the provider, such as new issue, close issue etc).

[2020-06-27 15:48] #11 closed

[2020-06-27 15:48] amihaiemil opened #14 "Release 0.0.1"
So far, the PMs know how to accept repo invitations.

[2020-06-27 15:48] amihaiemil commented on #14
@rultor release it, tag is `0.0.1`

[2020-06-27 15:49] rultor commented on #14
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22441-650577481)

[2020-06-27 15:53] rultor commented on #14
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/22441-650577481) (took me 4min)

[2020-06-27 15:55] #14 closed

[2020-07-02 19:39] amihaiemil opened #15 "Add files commands_en.properties and responses_en.properties"
These 2 files should be under src/main/resources -- they contain the commands that the PM can understand and all the replies/comments that the PM can post. More [here](https://github.com/self-xdsd/self-core/pull/258).

[2020-07-07 21:50] #15 closed

[2020-07-08 14:51] 0pdd opened #18 "Webhooks.java:39-41: Continue implementing the github..."
The puzzle `14-3124d36c` from #12 has to be resolved:

https://github.com/self-xdsd/self-pm/blob/2e60fcc1554750e057b43febd9af5f1e8066cac7/src/main/java/com/selfxdsd/selfpm/Webhooks.java#L39-L41

The puzzle was created by @amihaiemil on 08-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-07-08 14:51] 0pdd commented on #14
@amihaiemil the puzzle [#18](https://github.com/self-xdsd/self-pm/issues/18) is still not solved.

[2020-07-08 14:53] amihaiemil commented on #18
waiting for https://github.com/self-xdsd/self-core/issues/268

[2020-07-08 14:53] #12 closed

[2020-07-08 20:55] 0pdd commented on #18
The puzzle `14-3124d36c` has disappeared from the source code, that's why I closed this issue.

[2020-07-08 20:55] #18 closed

[2020-07-08 20:55] 0pdd commented on #14
@amihaiemil the only puzzle [#18](https://github.com/self-xdsd/self-pm/issues/18) is solved here.

[2020-07-28 16:34] amihaiemil opened #21 "Check secret validity in Github Webhook"
Apparently, it's a little more complex than a single token: https://developer.github.com/webhooks/securing/#validating-payloads-from-github

[2020-07-29 11:26] #21 closed

[2020-07-29 11:26] 0pdd opened #23 "Webhooks.java:72-75: We need to modify self-core so that..."
The puzzle `21-b5218979` from #21 has to be resolved:

https://github.com/self-xdsd/self-pm/blob/d013e4382c9a981eae1fb601a1b247fea50a7c7a/src/main/java/com/selfxdsd/selfpm/Webhooks.java#L72-L75

The puzzle was created by @amihaiemil on 29-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-07-29 11:26] 0pdd commented on #21
@amihaiemil the puzzle [#23](https://github.com/self-xdsd/self-pm/issues/23) is still not solved.

[2020-07-29 11:27] amihaiemil commented on #23
waiting for self-xdsd/self-core#321

[2020-07-29 12:22] amihaiemil opened #24 "Update core and storage"
Let's update them to the latest versions.

[2020-07-29 12:43] #24 closed

[2020-07-29 12:44] 0pdd commented on #23
The puzzle `21-b5218979` has disappeared from the source code, that's why I closed this issue.

[2020-07-29 12:44] #23 closed

[2020-07-29 12:44] 0pdd opened #26 "Webhooks.java:70-72: Build up the Event based on the..."
The puzzle `24-e4b4d83f` from #24 has to be resolved:

https://github.com/self-xdsd/self-pm/blob/a770f788bc9c52daea0f4ed62ca0d65e0c34d6f4/src/main/java/com/selfxdsd/selfpm/Webhooks.java#L70-L72

The puzzle was created by @amihaiemil on 29-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-07-29 12:44] 0pdd commented on #21
@amihaiemil the only puzzle [#23](https://github.com/self-xdsd/self-pm/issues/23) is solved here.

[2020-07-29 12:44] 0pdd commented on #24
@amihaiemil the puzzle [#26](https://github.com/self-xdsd/self-pm/issues/26) is still not solved.

[2020-07-29 13:45] #26 closed

[2020-07-29 13:45] 0pdd commented on #26
The puzzle `24-e4b4d83f` has disappeared from the source code, that's why I closed this issue.

[2020-07-29 13:45] 0pdd commented on #24
@amihaiemil the only puzzle [#26](https://github.com/self-xdsd/self-pm/issues/26) is solved here.

[2020-08-17 07:06] amihaiemil opened #28 "Add responses"
We should add the following english responses: ``newIssue.comment``, ``reopened.comment``, ``noContributorFound.comment`` and others

[2020-08-29 13:44] amihaiemil opened #29 "Update core and storage"
self-core 0.0.20 and self-storage 0.0.7, let's update them.

[2020-08-29 13:49] #29 closed

[2020-09-22 07:26] amihaiemil opened #31 "Check unassinged tasks periodically"
We should make each PM check the unassigned tasks from their project each 10min or so.

[2020-09-22 08:19] #28 closed

[2020-09-23 17:16] #31 closed

[2020-09-24 07:55] amihaiemil opened #35 "Resolve newIssue and reopenedIssue event types"
In the webhook endpoint, we should resolve these 2 custom types based on the Event ``type`` (which should be "issue") and ``action`` (open or reopen)

[2020-09-25 08:52] amihaiemil opened #36 "Rename DB env variables"
Seems like we cannot set env variables which have dots in their names. Let's name them to
``self_db_user``, ``self_db_password`` and ``self_db_url``.

[2020-09-25 08:57] amihaiemil commented on #36
@criske FYI, the 3 DB variables have been renamed :D

[2020-09-25 08:57] #36 closed

[2020-09-26 11:14] #35 closed

[2020-10-02 14:46] amihaiemil opened #39 "Handle comment event"
Let's make it handle comment event.

[2020-10-02 14:46] amihaiemil opened #40 "Check assigned tasks periodically"
Each PM should check their assigned tasks periodically.

[2020-10-02 15:05] #39 closed

[2020-10-02 16:07] #40 closed

[2020-10-03 12:49] amihaiemil opened #43 "Configure log file"
We should configure SpringBoot to write the logs in a file, not just in the console.

[2020-10-03 12:50] charlesmike commented on #43
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-03 12:59] charlesmike commented on #43
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-10-13T15:59:51.379290``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything - you can solve it only partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me, I'm not a

[2020-10-05 08:08] amihaiemil commented on #43
paid with transaction id 6YT223583L860162E

[2020-10-05 08:12] #43 closed

[2020-10-05 08:54] criske commented on #43
@charlesmike status

[2020-10-05 08:54] charlesmike commented on #43
@criske this ticket is assigned to @criske since ``2020-10-03T15:59:51`` and it should be closeduntil ``2020-10-13T15:59:51``. Estimation is ``60`` minutes.

[2020-10-05 09:25] amihaiemil commented on #43
@criske the PM's are reviewing their closed issues/tasks every 6 hours.

They do not listen for the closed_issue event because many times it happens that people close issues by mistake (the "Close and Comment" button)

[2020-10-05 09:33] criske commented on #43
@amihaiemil Yeah I've just noticed.
Just wanted to check if a closed issue could be eligible to be a task. There might be bug - looking over the code for "register" conversation, we don't check if the issue is closed before assigning it. Maybe an `IsIssueClosed` step might be necessary?

[2020-10-05 09:38] amihaiemil commented on #43
@criske most likely, yes. Just open an Issue in self-core and we'll take it from there :D

[2020-10-05 11:39] charlesmike commented on #43
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-10-06 10:59] criske commented on #43
@charlesmike status

[2020-10-06 10:59] charlesmike commented on #43
@criske this ticket is not registered as a task, therefore I'm not working on itat the moment.

If you want me to take care of it, assign it to me or say "register".

[2020-10-06 11:04] criske commented on #43
@amihaiemil I think we should have a better messaging for closed issues statuses, something like: "This is a closed issue. Closed issues are not eligible be a task ." ?

[2020-10-06 13:46] amihaiemil commented on #43
@criske Yes, most likely :D

Maybe we can say:

[code]

[2020-10-15 16:32] amihaiemil opened #46 "Update core to 0.0.27 and storage to 0.0.12"
They contain some improvements.

[2020-10-15 16:32] charlesmike commented on #46
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-15 16:34] amihaiemil commented on #46
@charlesmike deregister

[2020-10-15 16:34] charlesmike commented on #46
@amihaiemil task successfully removed.

[2020-10-15 16:47] #46 closed

[2020-10-15 16:47] amihaiemil opened #48 "Release 0.0.2"
Let's release version 0.0.2

[2020-10-15 16:47] charlesmike commented on #48
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-15 16:47] amihaiemil commented on #48
@charlesmike deregister

[2020-10-15 16:47] charlesmike commented on #48
@amihaiemil task successfully removed.

[2020-10-15 16:47] amihaiemil commented on #48
@rultor release it, tag is `0.0.2`

[2020-10-15 16:48] rultor commented on #48
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23539-709453533)

[2020-10-15 16:51] rultor commented on #48
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23539-709453533) (took me 3min)

[2020-10-15 16:52] #48 closed

[2020-10-15 17:08] amihaiemil commented on #48
@charlesmike hello

[2020-10-15 17:08] charlesmike commented on #48
Hi @amihaiemil! I'm the Project Manager of this project. I take care of Issues' assignments, payments and more.Want me to work for your project too? Go [here](https://self-xdsd.com).

I work primarily at Github, but I'll also start working at GitLab and BitBucket soon.

[2020-10-16 14:58] amihaiemil opened #49 "Resolve pull_request Event"
In the Webhooks endpoint, we should also resolve PR events, the same as Issues.

[2020-10-16 14:58] charlesmike commented on #49
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-16 14:59] amihaiemil commented on #49
@charlesmike deregister

[2020-10-16 14:59] charlesmike commented on #49
@amihaiemil task successfully removed.

[2020-10-16 14:59] amihaiemil commented on #49
@rultor release it, tag is `0.0.3`

[2020-10-16 15:00] rultor commented on #49
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23543-710099179)

[2020-10-16 15:03] rultor commented on #49
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23543-710099179) (spent 3min)

[code]

[2020-10-29 12:54] #49 closed

[2020-10-29 12:55] amihaiemil opened #51 "update core to 0.0.30 and storage to 0.0.14"
let's do it

[2020-10-29 12:55] charlesmike commented on #51
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-10-29 12:55] amihaiemil commented on #51
@charlesmike deregister

[2020-10-29 12:55] charlesmike commented on #51
@amihaiemil task successfully removed.

[2020-10-29 13:08] #51 closed

[2020-10-29 13:14] amihaiemil opened #52 "This is not a task"
test for the ``no-task`` label

[2020-10-29 13:16] #52 closed

[2020-10-29 13:33] amihaiemil opened #53 "Release 0.0.3"
For release.

[2020-10-29 13:34] amihaiemil commented on #53
@rultor release it, tag is `0.0.3`

[2020-10-29 13:34] rultor commented on #53
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23611-718755712)

[2020-10-29 13:37] rultor commented on #53
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23611-718755712) (took me 3min)

[2020-10-29 13:38] #53 closed

[2020-11-04 08:41] amihaiemil opened #54 "Webhooks.github NPE on pull_request Event"
This is because Event.issue() always looks for the ``issue`` JsonObject. In the case of pull_request event, it should look for the ``pull_request`` object.

[2020-11-04 08:42] charlesmike commented on #54
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-04 08:45] charlesmike commented on #54
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-14T10:45:26.305847``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-04 08:46] amihaiemil opened #55 "Release 0.0.4"
Changelog:

#54
#57
and others

[2020-11-04 08:46] charlesmike commented on #55
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-04 08:55] charlesmike commented on #55
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-14T10:55:26.585593``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-04 09:06] amihaiemil commented on #55
@charlesmike deregister

[2020-11-04 09:06] charlesmike commented on #55
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-11-04 12:37] #54 closed

[2020-11-04 12:37] 0pdd opened #57 "Webhooks.java:47-48: In the github Webhook, if the event..."
The puzzle `54-0ae87900` from #54 has to be resolved:

https://github.com/self-xdsd/self-pm/blob/0de5ed31b1f46db12339970bec6fcc7ef90a902c/src/main/java/com/selfxdsd/selfpm/Webhooks.java#L47-L48

The puzzle was created by @amihaiemil on 04-Nov-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-11-04 12:37] charlesmike commented on #57
@0pdd thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-04 12:37] 0pdd commented on #54
@amihaiemil the puzzle [#57](https://github.com/self-xdsd/self-pm/issues/57) is still not solved.

[2020-11-04 12:38] 0pdd commented on #57
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2020-11-04 12:45] charlesmike commented on #57
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-14T14:45:26.537484``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-04 14:09] charlesmike commented on #54
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-07 10:12] amihaiemil opened #58 "Forward push event to SelfTodos"
If the Webhook Event is "push", we should just forward it to SelfTodos.

[2020-11-07 10:12] charlesmike commented on #58
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-17T12:12:32.339947``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-07 10:12] charlesmike commented on #58
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-07 11:08] #58 closed

[2020-11-07 11:23] charlesmike commented on #58
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-07 11:23] amihaiemil commented on #57
@charlesmike status

[2020-11-07 11:24] charlesmike commented on #57
@amihaiemil this ticket is assigned to @amihaiemil since ``2020-11-04T14:45:26`` and it should be closed until ``2020-11-14T14:45:26``. Estimation is ``60`` minutes.

[2020-11-08 16:54] #57 closed

[2020-11-08 18:17] charlesmike opened #60 "Webhooks.java: In the github Webhook, if the..."
In the github Webhook, if the event is "push", make sure to receive and return the latest Commit from the Event.

[2020-11-08 18:17] charlesmike commented on #60
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-08 18:17] charlesmike commented on #60
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-18T20:17:21.687678``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-08 18:20] #60 closed

[2020-11-08 18:20] charlesmike commented on #60
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-08 21:37] charlesmike commented on #57
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-08 21:37] charlesmike commented on #60
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-09 09:06] charlesmike opened #61 "SelfPmApplication.java: Write a scheduled method whic..."
The puzzle ``55-4af5fb61`` originating from #55 has to be resolved:

https://github.com/self-xdsd/self-pm/blob/97637be5e8ce832b66d7d1db4f60c45eb455b275/src/main/java/com/selfxdsd/selfpm/SelfPmApplication.java#L34-L38

"Write a scheduled method which will make each PM review and completely remove any Contract which has been marked for removal more than 30 days ago (if markedForRemoval > 30 days). T

[2020-11-09 09:06] charlesmike commented on #61
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-09 09:07] charlesmike commented on #61
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-19T11:07:21.180039``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-09 16:08] criske commented on #61
@amihaiemil do we have an api for removing a contract?

[2020-11-09 16:26] amihaiemil commented on #61
@criske nope, not yet. You can put this ticket aside until we will have one.

[2020-11-09 16:34] criske commented on #61
@amihaiemil The ticket is pretty much done, besides the removing a contract part.
 I'll leave a puzzle to add the remove contract for when it will be available.

[2020-11-10 09:37] amihaiemil commented on #61
paid with transaction id 76B246428M817053L

[2020-11-10 09:38] #61 closed

[2020-11-10 09:52] charlesmike opened #63 "ReviewContractsMarkedForRemoval.java: When Contract/Contracts API h..."
The puzzle ``63-13415b93`` originating from #63 has to be resolved:

https://github.com/self-xdsd/self-pm/blob/c6629a4b3de6091ae9251f0a97b635e1d6306fb0/src/main/java/com/selfxdsd/selfpm/ReviewContractsMarkedForRemoval.java#L45-L46

"When Contract/Contracts API has a `remove` method, remove `removeContractApi` placeholder and use the real API.".

It was created by cristianpela on 2020-11-10T07:30:0

[2020-11-10 09:52] charlesmike commented on #63
@charlesmike thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-10 09:57] charlesmike commented on #63
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-20T11:57:22.062816``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-10 15:37] charlesmike commented on #61
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-12 14:20] amihaiemil opened #65 "Update to self-core 0.0.34"
It contains some fixes and improvements.

[2020-11-12 14:20] charlesmike commented on #65
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-22T16:20:17.775920``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-12 14:20] charlesmike commented on #65
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-12 14:23] #65 closed

[2020-11-12 14:31] charlesmike commented on #65
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-15 02:30] charlesmike commented on #63
@amihaiemil Don't forget to close this ticket before the deadline (2020-11-20T11:57:22). You are past the first half of the allowed period.

[2020-11-18 08:18] amihaiemil opened #66 "Update self-core 0.0.36 and self-storage 0.0.15"
Let's update them, there are a fue bug fixes.

[2020-11-18 08:18] charlesmike commented on #66
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2020-11-18 08:20] charlesmike commented on #66
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-28T10:20:31.169135``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-18 08:21] #66 closed

[2020-11-18 08:32] charlesmike commented on #66
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-20 14:32] charlesmike commented on #63
@amihaiemil Looks like you've missed the task deadline (2020-11-20T11:57:22). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2020-11-20 14:32] charlesmike commented on #63
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-11-30T16:32:10.222781``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask me,

[2020-11-24 08:06] #63 closed

[2020-11-24 08:06] charlesmike commented on #63
Puzzle disappeared from the code, that's why I closed this ticket.

[2020-11-24 08:31] charlesmike commented on #63
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-30 07:56] amihaiemil opened #68 "Update self-core to 0.0.39 and self-storage to 0.0.17"
Let's update and deploy to Test.

[2020-11-30 07:56] charlesmike commented on #68
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-10T09:56:33.497122``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-30 07:56] charlesmike commented on #68
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-30 08:09] #68 closed

[2020-11-30 08:27] charlesmike commented on #68
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-11-30 13:28] amihaiemil opened #69 "Update to self-core 0.0.40"
Let's update then redeploy to Test.

[2020-11-30 13:28] charlesmike commented on #69
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-10T15:28:26.633286``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-11-30 13:28] charlesmike commented on #69
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-11-30 13:31] #69 closed

[2020-11-30 14:21] charlesmike commented on #69
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-03 10:44] amihaiemil opened #70 "Update to self-core 0.0.41 and self-storage 0.0.18"
Let's update them, they contain some bug fixes.

[2020-12-03 10:44] charlesmike commented on #70
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-13T12:44:02.865894``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-03 10:44] charlesmike commented on #70
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-03 10:57] #70 closed

[2020-12-03 13:26] charlesmike commented on #70
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-05 18:10] amihaiemil opened #71 "Pay Active Invoices Every Monday"
Let's pay the active invoices every Monday (using the active Wallet).

[2020-12-05 18:10] charlesmike commented on #71
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-15T20:10:24.513109``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-05 18:10] charlesmike commented on #71
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-09 14:43] amihaiemil opened #72 "Update to self-core 42 and self-storage 19"
They contain some important bug fixes.

[2020-12-09 14:43] charlesmike commented on #72
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-19T16:43:40.767680``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-09 14:43] charlesmike commented on #72
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-10 01:25] charlesmike commented on #71
@amihaiemil Don't forget to close this ticket before the deadline (2020-12-15T20:10:24). You are past the first half of the allowed period.

[2020-12-11 08:57] #72 closed

[2020-12-11 13:26] charlesmike commented on #72
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-14 08:30] amihaiemil opened #76 "Catch Project Exceptions in Review Methods"
Inside the methods where we iterate over all projects (for example, review assigned tasks, review unassigned tasks etc), we should catch and log any exceptions coming from a project and continue the iteration.

At the moment, if any of the Projects throws an exception, the whole iteration stops.
This is a bug, because we cannot stop the logic of all the Projects for a problem present only in one o

[2020-12-14 08:30] charlesmike commented on #76
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-24T10:30:22.519324``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-14 08:30] charlesmike commented on #76
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-14 09:03] amihaiemil commented on #71
@charlesmike deregister

[2020-12-14 09:03] charlesmike commented on #71
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2020-12-14 09:08] #76 closed

[2020-12-14 09:08] charlesmike commented on #76
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-16 09:28] amihaiemil opened #78 "Update to self-core 43 and self-storage 20"
they contain some bugfixes.

[2020-12-16 09:28] charlesmike commented on #78
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-26T11:28:17.923013``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-16 09:28] charlesmike commented on #78
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-16 14:10] #78 closed

[2020-12-16 14:12] charlesmike commented on #78
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-30 13:50] amihaiemil opened #80 "Unassinged Tasks each 10min, Assigned Tasks each 6h"
Let's go back to the old timers.

[2020-12-30 13:50] charlesmike commented on #80
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-09T15:50:26.434428``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-30 13:50] charlesmike commented on #80
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-30 13:54] amihaiemil opened #81 "Show Version In Ping Endpoint"
The ``/pm/ping`` endpoint should also return the app's version. We can read this version from a ``.properties`` file which Maven will write automatically on each build.

[2020-12-30 13:54] charlesmike commented on #81
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-09T15:54:53.592842``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2020-12-30 13:54] charlesmike commented on #81
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-31 09:50] #80 closed

[2020-12-31 09:51] charlesmike commented on #80
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-31 10:34] #81 closed

[2020-12-31 10:35] charlesmike commented on #81
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-31 10:35] amihaiemil commented on #55
@rultor release it, tag is `0.0.4`

[2020-12-31 10:35] amihaiemil opened #84 "Release 0.0.5"
Changelog:

#86
#88
#90
#92

[2020-12-31 10:35] rultor commented on #55
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23928-752919100)

[2020-12-31 10:38] rultor commented on #55
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23928-752919100) (spent 3min)

[code]

[2020-12-31 10:42] amihaiemil commented on #55
@rultor release it, tag is `0.0.4`

[2020-12-31 10:42] rultor commented on #55
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23928-752920855)

[2020-12-31 10:45] rultor commented on #55
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/23928-752920855) (took me 3min)

[2020-12-31 10:47] #55 closed

[2021-01-21 08:43] amihaiemil opened #86 "Add GitLab Webhook"
Let's implement the webhook endpoint for Gitlab.

[2021-01-21 08:43] charlesmike commented on #86
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-31T10:43:48.688953``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-21 08:43] charlesmike commented on #86
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-21 08:43] amihaiemil commented on #86
@criske FYI, I'll take care of this :D

[2021-01-21 09:39] #86 closed

[2021-01-21 09:39] charlesmike opened #88 "GitlabWebhookEvent.java: Implement and test this class..."
The puzzle ``979633061`` originating from #86 has to be resolved:

https://github.com/self-xdsd/self-pm/blob/2dead1f9c8b04c9c6776b503a35472558f36cb9d/src/main/java/com/selfxdsd/selfpm/GitlabWebhookEvent.java#L36-L37

"Implement and test this class according to the GitLab Webhook documentation and having GithubWebhookEvent as example.".

Estimation is ``60 minutes``.
If you have any technical quest

[2021-01-21 09:46] charlesmike commented on #88
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-31T11:46:13.694500``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-21 13:06] charlesmike commented on #86
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-23 14:21] #88 closed

[2021-01-23 14:21] charlesmike commented on #88
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-23 19:06] charlesmike commented on #88
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-25 14:03] amihaiemil opened #90 "Use action Instead of State For GitLab"
We should use the ``action`` attribute to decide if it's a new issue, reopened issue or closed issue.

The ``state`` attribute will always be ``open`` for any update operation of the Issue.

[2021-01-25 14:03] charlesmike commented on #90
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-04T16:03:49.410670``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-25 14:03] charlesmike commented on #90
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-25 14:20] #90 closed

[2021-01-25 16:46] charlesmike commented on #90
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-26 12:39] amihaiemil opened #92 "GitlabWebhookEvent: read Issue from pullRequests() if MR"
If we have a Merge Request Hook, the Issue should be read from the Repo.pullRequests() API.
For this, we need to update to self-core 0.0.58.

[2021-01-26 12:39] charlesmike commented on #92
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-05T14:39:50.520974``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-26 12:39] charlesmike commented on #92
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-28 15:06] charlesmike commented on #92
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-30 15:28] amihaiemil opened #94 "GitLab PR Assigned After Merge"
The PM assigned a merger Pull Request for review, on GitLab: https://gitlab.com/self-xdsd/self-rest/-/merge_requests/2

[2021-01-30 15:28] charlesmike commented on #94
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-09T17:28:33.195394``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-30 15:28] charlesmike commented on #94
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-31 09:01] amihaiemil commented on #94
solved here: https://github.com/self-xdsd/self-core/issues/954

[2021-01-31 09:01] #94 closed

[2021-01-31 09:37] charlesmike commented on #94
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-26 08:55] amihaiemil commented on #84
@rultor release it, tag is `0.0.5`

[2021-02-26 08:57] rultor commented on #84
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24185-786505750)

[2021-02-26 09:02] rultor commented on #84
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24185-786505750) (took me 4min)

[2021-02-26 09:03] #84 closed

[2021-02-27 18:17] zoeself opened #95 "Hello from Self XDSD!"
@amihaiemil Thank you for the invitation, your repo is all set up and I will manage it starting now.

I will take care of tickets' assignment, payments and more, automatically.

If you don't want me to handle a certain Issue or PR, add the ``no-task`` label when creating it. You can also say ``deregister`` to me (if it's already in scope) and I will forget about it.

[2021-03-03 09:13] amihaiemil opened #96 "Release 0.0.6"
With the following fix: https://github.com/self-xdsd/self-core/issues/1019 and #71

[2021-03-03 09:14] #95 closed

[2021-03-19 12:48] amihaiemil commented on #71
@zoeself add

[2021-03-19 12:49] zoeself commented on #71
@amihaiemil I've just registered this ticket as a task and will assign it to someone soon. Thanks!

[2021-03-19 12:49] amihaiemil commented on #71
@criske can you do this when you have some time? A timer like all the others, which should run once per week, on Monday.

[2021-03-19 12:57] zoeself commented on #71
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-29T12:57:17.716695``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-19 14:34] criske commented on #71
@amihaiemil sure

[2021-03-22 13:54] #71 closed

[2021-03-22 19:27] zoeself commented on #71
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-27 07:13] amihaiemil opened #98 "App Doesn"

[2021-03-27 07:13] zoeself commented on #98
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-03-27 07:14] amihaiemil opened #99 "App Doesn't Start"
Self-PM doesn't start due to an error parsing the cron job schedule:

[code]

[2021-03-27 07:14] zoeself commented on #99
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-06T07:14:07.719695``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-03-27 07:14] zoeself commented on #99
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-27 07:14] amihaiemil commented on #99
@criske can you have a look when you have some time? :D

Seems like Spring doesn't like that cron expression for ``payIncoices``

[2021-03-27 07:15] #98 closed

[2021-03-27 08:22] criske commented on #99
@amihaiemil I'll fix this asap, it looks like spring doesn't like it (used it from here https://crontab.guru/every-monday).
I think `0 0 0 ? * MON` should work, but I will test it in a unit/integration test first.

[2021-03-27 15:22] #99 closed

[2021-03-27 19:27] zoeself commented on #99
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-03-29 14:11] amihaiemil commented on #96
@rultor release it, tag is `0.0.6`

[2021-03-29 14:13] rultor commented on #96
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24330-809409179)

[2021-03-29 14:17] rultor commented on #96
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24330-809409179) (took me 4min)

[2021-03-29 14:20] #96 closed

[2021-04-03 13:45] amihaiemil opened #101 "Update To Self-Core 72"
Some changes:

self-xdsd/self-core#1068 - Issue role is first read from Labels
self-xdsd/self-core#1071 - A new command and its reply response has to be added in self-pm

[2021-04-03 13:45] zoeself commented on #101
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-04-03 13:51] zoeself commented on #101
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-13T13:51:07.339501``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-06 05:26] zoeself commented on #101
@zoeself status

[2021-04-08 05:31] zoeself commented on #101
@amihaiemil Don't forget to close this ticket before the deadline (2021-04-13T13:51:07). You are past the first half of the allowed period.

[2021-04-11 06:57] amihaiemil commented on #101
@zoeself remove

[2021-04-11 06:57] zoeself commented on #101
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-04-11 06:58] #101 closed

[2021-04-14 16:40] amihaiemil opened #102 "Update to core 72 and storage 68"
New changes regarding contributor commission.

[2021-04-14 16:40] zoeself commented on #102
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-04-24T16:40:30.861044``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-14 16:40] zoeself commented on #102
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-14 16:40] amihaiemil opened #103 "Release 0.0.7"
Changelog:

#102
#105
#106

[2021-04-15 17:52] #102 closed

[2021-04-15 20:46] zoeself commented on #102
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-23 11:56] amihaiemil opened #105 "Update to core 74 and storage 69"
Let's update.

[2021-04-23 11:57] zoeself commented on #105
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-24 13:29] #105 closed

[2021-04-24 14:14] amihaiemil opened #106 "Update commands and responses files"
Update these files according to the ones from self-core/test/resources. We have the new ``commands`` command.

[2021-04-24 14:14] zoeself commented on #106
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-04T14:14:14.033243``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-24 14:14] zoeself commented on #106
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-24 14:25] #106 closed

[2021-04-24 14:46] zoeself commented on #105
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-24 14:46] zoeself commented on #106
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-25 11:48] amihaiemil opened #107 "Update to self-core 75"
Let's update it, there's a bugfix in the reopenedIssue event.

[2021-04-25 11:49] zoeself commented on #107
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-05T11:48:59.933426``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-04-25 11:49] zoeself commented on #107
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-04-25 11:51] #107 closed

[2021-04-25 14:07] amihaiemil commented on #103
@rultor release it, tag is `0.0.7`

[2021-04-25 14:08] rultor commented on #103
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24393-826330602)

[2021-04-25 14:12] rultor commented on #103
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24393-826330602) (took me 4min)

[2021-04-25 14:12] #103 closed

[2021-04-25 14:46] zoeself commented on #107
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-04-28 14:04] amihaiemil opened #108 "Release 0.0.8"
The PM will now follow the Github PO.
The PM will also star the GitLab repo and follow the GitLab PO.

[2021-04-28 14:56] amihaiemil commented on #108
@rultor release it, tag is `0.0.8`

[2021-04-28 14:58] rultor commented on #108
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24406-828524704)

[2021-04-28 15:01] rultor commented on #108
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24406-828524704) (took me 3min)

[2021-04-30 10:33] #108 closed

[2021-05-07 08:29] amihaiemil opened #109 "Change AssignedTasks Chron From 6h to 30min"
We now have the eTag mechanism and we can check the issues more frequently.

Let's change the assignedTasks timer to run every 30 minutes (at the moment it runs every 6 hours).

[2021-05-07 08:29] zoeself commented on #109
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-17T08:29:42.151078``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-07 08:29] zoeself commented on #109
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-07 08:44] amihaiemil opened #110 "Release 0.0.9"
Changelog:

#109
#111
#113
#114

[2021-05-07 14:03] amihaiemil opened #111 "Update to core 81 and storage 70"
for the e-tag functionality in caching json resources.

[2021-05-07 14:03] zoeself commented on #111
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-17T14:03:45.072103``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-07 14:03] zoeself commented on #111
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-07 14:22] #111 closed

[2021-05-07 15:12] zoeself commented on #111
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-11 13:45] #109 closed

[2021-05-12 14:36] amihaiemil opened #113 "Update to core 84"
We added the CreateRepoLabels invitation.

[2021-05-12 14:36] zoeself commented on #113
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-22T14:36:15.878432``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-12 14:36] zoeself commented on #113
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-13 04:31] #113 closed

[2021-05-13 09:12] zoeself commented on #113
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-18 13:12] amihaiemil opened #114 "Update to core 85"
In the case of Gitlab, we check if the Repo is starred before returning the mock invitation.

[2021-05-18 13:12] zoeself commented on #114
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-28T13:12:15.427132``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-18 13:12] zoeself commented on #114
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-18 13:14] #114 closed

[2021-05-18 13:15] amihaiemil commented on #110
@rultor release it, tag is `0.0.9`

[2021-05-18 13:16] rultor commented on #110
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24500-843162065)

[2021-05-18 13:19] rultor commented on #110
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24500-843162065) (took me 3min)

[2021-05-18 13:20] #110 closed

[2021-05-18 13:36] zoeself commented on #114
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-25 12:38] amihaiemil opened #115 "Update to core 88 and storage 71"
Improvements in JsonStorage.

[2021-06-25 12:38] zoeself commented on #115
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-07-05T12:38:33.630192``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-06-25 12:38] zoeself commented on #115
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-06-25 12:38] amihaiemil opened #116 "Release 0.0.10"
#115

[2021-06-26 07:02] #115 closed

[2021-06-26 07:16] zoeself commented on #115
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-06-26 14:25] amihaiemil commented on #116
@rultor release it, tag is `0.0.10`

[2021-06-26 14:26] rultor commented on #116
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24666-869010854)

[2021-06-26 14:30] rultor commented on #116
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24666-869010854) (took me 3min)

[2021-06-26 14:30] #116 closed

[2021-08-03 07:40] amihaiemil opened #117 "Release 0.0.11"
Update to self-core 89

[2021-08-03 07:40] zoeself commented on #117
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-08-03 07:44] zoeself commented on #117
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-13T07:44:14.141636``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-03 07:59] amihaiemil commented on #117
@rultor release it, tag is `0.0.11`

[2021-08-03 08:00] rultor commented on #117
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24871-891626344)

[2021-08-03 08:03] rultor commented on #117
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24871-891626344) (took me 3min)

[2021-08-03 08:05] #117 closed

[2021-08-03 08:34] zoeself commented on #117
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-23 13:08] amihaiemil opened #118 "Read Repo full_name From Payload"
When receiving Github webhooks, we must read the repo's fullname from the payload instead of input (because the repo's name can change and we cannot update the webhooks when this happens)

[2021-08-23 13:08] zoeself commented on #118
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-02T13:08:17.408436``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-23 13:08] zoeself commented on #118
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-08-28 00:08] zoeself commented on #118
@amihaiemil Don't forget to close this ticket before the deadline (2021-09-02T13:08:17). You are past the first half of the allowed period.

[2021-08-28 06:50] #118 closed

[2021-08-28 06:51] zoeself opened #120 "Webhooks.java: We now read the repoFullName ..."
The puzzle ``-2038335864`` originating from #118 has to be resolved:

https://github.com/self-xdsd/self-pm/blob/1d7adb4a138fc349948999f5672a8b51b03f5f10/src/main/java/com/selfxdsd/selfpm/Webhooks.java#L105-L110

"We now read the repoFullName from the event payload. We cannot rely on input owner and name because the repo's name may change and we cannot update the Webhook when this happens. Remove t

[2021-08-28 06:51] zoeself opened #121 "Webhooks.java: Update the signature calculat..."
The puzzle ``-559582283`` originating from #118 has to be resolved:

https://github.com/self-xdsd/self-pm/blob/1d7adb4a138fc349948999f5672a8b51b03f5f10/src/main/java/com/selfxdsd/selfpm/Webhooks.java#L111-L114

"Update the signature calculation based on the new X-Github-Signature-256 header, as described here: https://docs.github.com/en/developers/webhooks-and-events/webhooks /securing-your-webhoo

[2021-08-28 06:58] zoeself commented on #120
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-07T06:58:39.551493``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-28 06:58] zoeself commented on #121
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-07T06:58:41.584088``.

Estimation here is ``120 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2021-08-28 07:08] zoeself commented on #118
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-28 07:14] amihaiemil opened #122 "Release 0.0.12"
Get project by inout OR by github event payload (repository.full_name).

#125
#127

[2021-08-28 12:50] amihaiemil opened #123 "Github Webhook: Select Repo by Input or full_name attribute"
Repo name can change (and when this happens, we cannot update the webhook). Select the repo by the given input and if not found, try to select it by the "full_name" attribute from the payload.

[2021-08-28 12:50] zoeself commented on #123
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-07T12:50:53.242155``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-28 12:50] zoeself commented on #123
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-08-29 06:32] #123 closed

[2021-08-29 06:32] zoeself commented on #120
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-08-29 06:32] #120 closed

[2021-08-29 06:38] zoeself commented on #120
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-29 06:38] zoeself commented on #123
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-29 07:36] amihaiemil opened #125 "Take Alternate Repo New Name from Change Object"
A Webhook Repo Rename event looks like this:

[code]
Take the name from the Changes object if it exists. If not, take it from repository.full_name

[2021-08-29 07:36] zoeself commented on #125
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-08-29 07:38] zoeself commented on #125
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-08T07:38:40.733933``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-08-29 07:43] amihaiemil commented on #125
@criske Want to solve it when you have some time?

The problem is [here](https://github.com/self-xdsd/self-pm/blob/master/src/main/java/com/selfxdsd/selfpm/Webhooks.java#L132).

If the Project is not found by the input owner and name, we take the name from ``repository.full_name`` -- this works only for the first renaming of the repo. At the second renaming, it won't work anymore.

So the followin

[2021-08-29 08:39] criske commented on #125
@amihaiemil sure :D

[2021-09-01 08:50] zoeself opened #127 "Webhooks.java: Write unit test(s) to cover c..."
The puzzle ``-926729823`` originating from #125 has to be resolved:

https://github.com/self-xdsd/self-pm/blob/4d35a315dccbe6c63184fb220fefb19dafc5a65a/src/main/java/com/selfxdsd/selfpm/Webhooks.java#L110-L111

"Write unit test(s) to cover case when repository is not found in payload's "changes.repository" mapping.".

The puzzle was created by cristianpela at ``2021-09-01 07:33:53 +0300``.
Estimat

[2021-09-01 08:52] #125 closed

[2021-09-01 08:58] zoeself commented on #127
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-11T08:58:41.157742``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-09-01 09:08] zoeself commented on #125
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-09-01 09:18] #127 closed

[2021-09-01 09:18] zoeself commented on #127
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-09-01 09:38] zoeself commented on #127
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-09-01 12:07] amihaiemil commented on #122
@rultor release it, tag is `0.0.12`

[2021-09-01 12:09] rultor commented on #122
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24996-910220747)

[2021-09-01 12:13] rultor commented on #122
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24996-910220747) (took me 4min)

[2021-09-01 12:17] #122 closed

[2021-09-01 16:29] amihaiemil commented on #121
@zoeself resign

[2021-09-01 16:29] zoeself commented on #121
@amihaiemil ok, I'll find someone else to take care of it.

[2021-09-01 16:38] zoeself commented on #121
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-10-03 09:42] amihaiemil opened #129 "Release 0.0.13"
* update to [self-core 94](https://github.com/self-xdsd/self-core/issues/1231)

[2021-10-03 09:45] amihaiemil commented on #129
@rultor release it, tag is `0.0.13`

[2021-10-03 09:46] rultor commented on #129
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25129-932899242)

[2021-10-03 09:49] rultor commented on #129
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25129-932899242) (took me 3min)

[2021-10-03 13:11] #129 closed

[2021-10-03 13:41] amihaiemil opened #130 "Make SelfCoreComponent RequestScoped"
To avoid DataAccessException if DB Connection is closed from the MySQL Server side.

[2021-10-03 13:41] zoeself commented on #130
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-10-13T13:41:27.746086``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-10-03 13:41] zoeself commented on #130
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-10-03 13:46] #130 closed

[2021-10-03 14:02] amihaiemil opened #132 "Release 0.0.14"
#130

[2021-10-03 14:06] zoeself commented on #130
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-11-07 09:38] amihaiemil opened #136 "Release 0.0.16"
With core 0.0.96, which contains the GlobalHttpClient.

[2021-11-07 09:42] amihaiemil commented on #136
@rultor release it, tag is `0.0.96`

[2021-11-07 09:43] amihaiemil commented on #136
@rultor release it, tag is `0.0.16`

[2021-11-07 09:43] rultor commented on #136
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25248-962579807)

[2021-11-07 09:46] rultor commented on #136
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25248-962579807) (took me 3min)

[2021-11-07 09:54] #136 closed

[2021-11-14 06:33] amihaiemil opened #137 "Release 0.0.17"
With latest core and storage, for updating task estimation.
Also messages updated.

[2022-10-25 06:54] amihaiemil commented on #137
@amihaiemil release not yet needed, turns out, new company address is only needed for self-web